:root {
    --primary-color: #005a05;
    --secondary-color: #f4a261;
    --accent1-color: #333;
    --accent2-color: light yellow;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: #f4f4f4;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    margin-top: 60px; 
}

.hero{
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    width: 100%;
    padding: 10px;
    font-family: var(--heading-font);
    color: var(--primary-color);
    margin-top: 5px;
}

.hero article {
    position: absolute;
    bottom: -350px;
    left: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0);
    color: black;
}

 .hero article img {
    float: right;
    width: 100px;
}

.gallery {
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: space-between;
}

figure img {
    width: 150px;
}

nav, p, section, article {
    margin: 16px 0;
    padding: 8px
}

nav {
    display: flex;
}

form {
    border: none;
    padding: 10px;
}

form div {
    margin-top: 15px;
}

button {
    margin-top: 10px;
}

footer {
    position: relative; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: white;
    color: var(--accent1-color);
}

footer nav {
    margin: 0;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    position: relative;
    width: 30px;
    height: 30px;
    margin: auto;
}