:root {
    --primary-color: #1b4332;
    --secondary-color: #2a9d8f;
    --accent1-color: #333333;
    --accent2-color: #F8F9FA;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: var(--accent2-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    margin-top: 60px; 
}


.hero {
    position: relative;
}

.hero > img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    margin: 0;
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

.hero article {
    bottom: 20px;
    left: 20px;
    right: 20px;
    margin: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    color: black;
}

 .hero article img {
    float: right;
    width: 100px;
}

.gallery {
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: space-between;
}

figure img {
    width: 150px;
}

nav, p, section, article {
    margin: 16px 0;
    padding: 8px
}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    color: white;
}

nav a:hover {
    color: var(--secondary-color);
}

p {
    color: var(--accent1-color);
}

iframe {
    border: 0;
}

form {
    border: none;
    padding: 10px;
    background-color: white;
}

form div {
    margin-top: 15px;
}

button {
    margin-top: 10px;
    background-color: var(--secondary-color);
    color: #111;
}

button:hover {
    background-color: var(--primary-color);
}

.team img {
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: space-between;
}

footer {
    position: relative; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

footer a {
    color: white;
}

footer p {
    color: white;
}

footer nav {
    margin: 0;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 30px;
    height: 30px;
    margin: auto;
}

.newsletter {
    top: 20px;
    bottom: 10px;
    left: 20px;
    padding: 10px;
}

.trips-details {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.trips-details img {
    width: 50%;
}

.trips-details article {
    width: 50%;
    padding: 10px;
}

table {
border-collapse: collapse;
border: 2px solid black;
letter-spacing: 1px;
}

th, td {
    border: 1px solid gray;
    padding: 8px 12px;
    text-align: center;
}

thead th, tfoot tr {
   background-color: black;
   color: white;
   font-weight: 700;
}
